__pycache__/
venv/
artifacts/raw/
artifacts/processed/
artifacts/model/
artifacts/model_weights/
artifacts/model_checkpoints/
0_resource_file/
logs/
notebook/weights.weights.h5
anime_recommendation_system.egg-info/
secrets/