<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Recommender</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    
</head>
<body>

    <div class="overlay"></div>
    
    <div class="main-container">
        <h1>✨ Welcome to the Anime Recommender System ✨</h1>

        <form action="/" method="POST" class="form-box">
            <div style="text-align: center;">
                <label for="user_id">Enter your <strong>User ID</strong> to get recommendations : </label>
                <input type="number" id="user_id" name="user_id" required style="margin: 10px 0;">
                <button type="submit">🎯 Get Recommendations</button>
            </div>
        </form>

        {% if recommendations %}
        <div class="recommendations-box">
            <h2> Recommendations for You 🚀</h2>
            <ul>
                {% for anime in recommendations %}
                    <li>{{ anime }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    
</body>
</html>
